/*******************************************/
/*                   Main                  */
/*******************************************/
main{
    display: grid;
    overflow: hidden;
    grid-template-areas: 
    "Building AboutUS"
    "Hist Hist";
}

.Cover > img, .Building > img{
    width: 100%;
    height: auto;
}

.Hist{
    grid-area: Hist;
    padding: 10px;
}

.Building{
    grid-area: Building;
    margin: 10px;
}

.AboutUS{
    grid-area: AboutUS;
    align-self: center;
    margin: 10px;
}

@media screen and (max-width: 596px){
    main{
        grid-template-areas: 
        "Building"
        "AboutUS"
        "Hist";
    }
}
/*******************************************/