*{
    margin: 0px;    /*Zeroing Default Things*/
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 0px;
}

/*******************************************/
/*              Logo Animation             */
/*******************************************/
.opening_logo_loading_img{
    position: fixed;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.loading_cover{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
}

.logo_loading_things{
    visibility: hidden;
}
/*******************************************/


/*******************************************/
/*                  Header                 */
/*******************************************/
header{
    color: white;
    height: 8vh;
    background-color: black;
    position: sticky;
    width: 100%;
    z-index: 1;
}
header .container{
    width: 80%;
    position: relative;
    margin: auto;
}

@media screen and (max-width: 816px){
    header .container{
        width: 100%;
    }
}

header .container span{
    position: absolute;
    left: 0px;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

header .container nav.all_links_displayed ul{
    position: absolute;
    right: 0px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

header .container li{
    padding: 10px;
}

header .container li:hover{
    padding: 10px;
    background-color: rgb(61, 61, 61);
}

header a{
    text-decoration: none;
    color: white;
}

header .container nav.menu_button{
    position: absolute;
    display: none;
    right: 0px;
    padding: 10px;
}

header .container nav.menu_button i{
    font-size: 1.3em;
}

@media screen and (max-width: 656px){
    header .container nav.menu_button{
        display: inline-block;
    }
    header .container nav.all_links_displayed{
        display: none;
    }
}
/*******************************************/


/*******************************************/
/*              Nav Slide Down             */
/*******************************************/
.nav_slideDown{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 0%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
        ". . ."
        ". main ."
        ". . .";
    background-color: #000000;
}
.nav_slideDown ul{
    grid-area: main;
    visibility: hidden;
    list-style: none;
    text-decoration: none;
    position: relative;
    height: 0%;
    font-size: 5vh;
}
.nav_slideDown ul a{
    text-decoration: none;
    color: rgb(189, 189, 189);
}
.nav_slideDown ul a:hover{
    color: white;
}
.nav_close{
    position: absolute;
    top: 3vw;
    right: 3vw;
    cursor: pointer;
    color: white;
}
.nav_slideDown i{
    font-size: 1.6em;
    color: rgb(189, 189, 189);
}
.nav_slideDown i:hover{
    font-size: 1.6em;
    color: white;
}
/*******************************************/


/*******************************************/
/*              News letter                */
/*******************************************/
.newsletter{
    display: grid;
    grid-template-columns: minmax(50, auto);
    padding: 10px;
    background-color: #CCCCCC;
    color: black;
    grid-template-areas: 
    '. newsletter_heading . newsletter_form .';
}
.newsletter strong{
    grid-area: newsletter_heading;
}
.newsletter .newsletter_form{
    grid-area: newsletter_form;
}
.newsletter .newsletter_form input[type="text"]{
    outline: 0px;
    border: 0px;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
    width: 50%;
}
.newsletter .newsletter_form input[type="submit"]{
    outline: 0px;
    border: 0px;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    background-color: #0071E3;
    color: white;
    font-weight: bolder;
}
@media screen and (max-width:735px) {
    .newsletter {
        grid-template-areas: 
            'newsletter_heading'
            'newsletter_form';
    }
    .newsletter strong{
        justify-self: center;
        padding: 10px;
        font-size: 1.3em;
    }
    .newsletter .newsletter_form{
        justify-self: center;
    }
    .newsletter .newsletter_form input[type="text"]{
        width: 45%;
        justify-self: start;
        padding:3px 10px 3px 10px;
        margin-right: 5vw;
    }
}
/*******************************************/

/*******************************************/
/*                  Footer                 */
/*******************************************/
footer{
    display: grid;
    grid-template-columns: minmax(50, auto);
    grid-template-areas: 
        'navigation socialmedia'
        'copyright legal';
    background-color: #000000;
    color: white;
    padding: 10px;
}
footer > div{
    padding: 6px;
}
.flex_footer{
    grid-area: navigation;
}
.flex_footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    list-style: none;
    color: white;
}
.flex_footer li{
    padding: 0px 10px 0px 10px;
}
.flex_footer li:hover{
    background-color: rgb(63, 63, 63);
}
.flex_footer a{
    text-decoration: none;
    color: white;
}
.socialmedia_footer{
    grid-area: socialmedia;
    display: flex;
    justify-self: end;
    flex-direction: row;
    gap: 10px;
}
.socialmedia_footer a{
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}
.socialmedia_footer a:hover{
    background-color: rgb(63, 63, 63);
}
.copyright_Footer{
    grid-area: copyright;
    padding: 0 0 0 10px;
}
.legal_footer{
    grid-area: legal;
    justify-self: end;
}
.legal_footer ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.legal_footer a{
    text-decoration: none;
    color: white;
    padding: 0px 10px 0px 10px;
}
.legal_footer a:hover{
    background-color: rgb(63, 63, 63);
}
@media screen and (max-width: 960px) {
    footer{
        grid-template-areas: 
        'navigation'
        'socialmedia'
        'copyright'
        'legal';
    }
    footer > div{
        padding: 10px;
    }
    .flex_footer{
        justify-self: center;
    }
    .socialmedia_footer{
        justify-self: center;
    }
    .copyright_Footer{
        justify-self: center;
    }
    .legal_footer{
        justify-self: center;
    }
}
/*******************************************/

/*******************************************/
/*                  Legal                  */
/*******************************************/
main pre.legal{
    padding: 10px;
    display: grid;
    justify-content: center;
}
/*******************************************/

/*******************************************/
/*                   Msg                   */
/*******************************************/
.greyCoverOverTheMain{
    background-color: #a1a1a1;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    visibility: hidden;
    z-index: 3; /* 0 Body, 1 Header, 2 Nav, 3 Message Box */
}
.messageBox{
    background-color: rgb(230, 230, 230);
    color: #000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 7rem;
    width: 20rem;
    visibility: hidden;
}
.messageBox span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
}
.messageBoxClose{
    cursor: pointer;
    padding: 10px;
    left: 17rem;
}
/*******************************************/

/*******************************************/
/*            Edit Content Form            */
/*******************************************/
button.editContentForm, form.editContentForm > input[type="submit"]{
    display: inline-block;
    padding: 10px;
    background-color: #0071E3;
    color: white;
    margin: 10px;
    outline: 0px;
    border: 0px;
}

.editContentForm{
    display: inline-block;
}
/*******************************************/


/*******************************************/
/*             Job Application             */
/*******************************************/
body.jobApplication{
    background-color: #C5B4E3;
}
table.jobApplication{
    border-top: 10px solid purple;
    width: 100%;
    padding: 20px;
    border-spacing: 1em 1em;
    width: 60%;
    margin: auto;
    background-color: white;
}
table.jobApplication input[type="text"], textarea{
    width: 100%;
}
table.jobApplication input[type="submit"]{
    padding: 5px;
    color: white;
    background-color: purple;
}
@media screen and (max-width: 650px){
    table.jobApplication{
        margin: 10px;
        width: 96%;
    }
}
/*******************************************/