*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/*******************************************/
/*                   Header                */
/*******************************************/
header{
    background-color: #000;
    color: white;
    height: 10vh;
}
header h1{
    padding: 0.3em;
}
header a{
    text-decoration: none;
    color: #fff;
}
@media  screen and (max-width: 354px) {
    header{
        height: 20vh;
    }
}
@media  screen and (max-width: 724px) and (min-width: 354px) {
    header{
        height: 15vh;
    }
}
/*******************************************/



/*******************************************/
/*                  Main                   */
/*******************************************/
main {
    display: grid;
    grid-template-columns: 10vw auto;
    grid-template-rows: 100%;
}

aside{
    height: 100%;
    background-color: #0071E3;
}

aside > button{
    width: 100%;
    height: 30px;
    outline: 0px;
    border: 0px;
    color: white;
    background-color: #0071E3;
}

aside > button:hover{
    width: 100%;
    height: 50px;
    background-color: #005ebd;
    cursor: pointer;
}

main div.content{
    background-color: white;
}

.mainDetailsContent > div{
    display: none;
}
.mainDetailsContent{
    padding: 10px;
}

/*******************************************/


/*******************************************/
/*             Summary Content             */
/*******************************************/
.summaryContent td,th,tr{
    padding: 10px;
}
.summaryContent td, th{
    padding: 10px;
    text-align: center;
}
.summaryContent th{
    width: 20vw;
}
.summaryContent tr:nth-child(even){
    background-color: #fff;
}
.summaryContent tr:nth-child(odd){
    background-color: #ccc;
}
.summaryContent tr:nth-child(1){
    background-color: #0071E3;
    color: white;
}
.summaryContent select{
    position: absolute;
    top: 13%;
    left: 80%;
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid #0071E3;
    border-top: 1px solid #0071E3;
    width: 10vw;
}
.summaryContent option:checked{
    background-color: #0071E3 !important;
    color: white;
}
/*******************************************/

/*******************************************/
/*             Login             */
/*******************************************/
.loginDiv{
    display: block !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 10px;
}

.loginDiv input{
    display: block;
    padding: 10px;
    margin: 10px;
    outline: 0px;
    border: 0px;
}

.loginDiv input[type="text"]:focus, input[type="password"]:focus{
    border-bottom: 3px solid black;
}

.loginDiv input[type="submit"]:hover{
    background-color: white;
    color: black;
}
/*******************************************/

/*******************************************/
/*               Annoucement               */
/*******************************************/
.closeAnnouncement{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    color: red;
    background-color: white;
    font-size: 1.2em;
}
table, td, th, tr{
    border: 1px solid black;
    border-collapse: collapse;
}
.announcementSubmit input[type="text"]{
    padding: 10px;
    margin: 10px;
    width: 40vw;
    border: 0px;
    outline: 1px;
    border-bottom: 2px solid black;
}
.announcementSubmit textarea{
    padding: 10px;
    margin: 10px;
    width: 40vw;
    border: 0px;
    outline: 1px;
    border-bottom: 2px solid black;
}
.announcementSubmit input[type="text"]:focus{
    border-bottom: 5px solid black;
}
.announcementSubmit textarea:focus{
    border-bottom: 5px solid black;
}
.announcementSubmit input[type="submit"]{
    padding: 10px;
    margin: 10px;
    outline: 0px;
    border: 0px;
    background-color: green;
    color: white;
}
/*******************************************/